@model Email
@{
    ViewData["Title"] = "Javascript/Python Development";
}
<h1 class="bg-secondary border border-dark text-center">Javascript/Python Development Request</h1>
<div>
    <form class="form-floating mb-3" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="RequestType" value="Javascript/Python Development Request" />
        <label asp-for="Name" class="text-light">Name:</label>
        <input asp-for="Name" type="text" class="form-control bg-dark text-light" placeholder="Name">
        <label asp-for="PhoneNumber" class="text-light">Phone number:</label>
        <input asp-for="PhoneNumber" type="text" class="form-control bg-dark text-light" placeholder="(1+) 123-456-7890">
        <label asp-for="FromAddress" class="text-light" for="floatingEmail">Email address:</label>
        <input asp-for="FromAddress" type="email" class="form-control bg-dark text-light" id="floatingEmail" placeholder="name@example.com">
        <label asp-for="Description" class="text-light" for="floatingDescription">Service Description:</label>
        <textarea asp-for="Description" class="form-control bg-dark text-light" rows="10" placeholder="Please enter a description of services here...."></textarea>
        <br /><input type="submit" value="Submit" class="form-control btn-dark" />
    </form>
</div>

