@{
    ViewData["Title"] = "Website Development";
}
<h1>Sales Website Request</h1>
<div>
    <form class="form-group">
        <label>Name : &emsp;&emsp;</label><input id="Name" /> <br />
        <label>Phone :&emsp;&emsp;</label> <input id="Phone" /> <br />
        <label>Email : &emsp;&emsp;</label> <input id="Email" /> <br />
        <label>Please describe the services below :</label><br />
        <textarea id="Description" style="width:50%; height:10em"></textarea>
    </form>
</div>

