@{
    Layout = null;
}
<title>Fractal Tree</title>
<link rel="stylesheet" href="~/css/fractalStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

<div class="nav">
    <div id="navbar">
        <a asp-controller="Home" asp-action="Landing">Home</a>
        <a asp-controller="Home" asp-action="Art">Art</a>
        <a asp-controller="Home" asp-action="eCommerce">eCommerce</a>
        <a asp-controller="Home" asp-action="Minigames">Minigames</a>
        <a asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="displayButtons()">
        <i class="fab fa-earlybirds"></i>
    </a>
</div>

<canvas></canvas>
<script src="~/js/fractaltree.js"></script>