@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/liquidMenu.css" />

<canvas id="canvasL"></canvas>

<div class="container">
    <div class="content">
        <nav class="navbar">
            <a asp-controller="Home" asp-action="Landing"></a>
            <a asp-controller="Home" asp-action="Art"></a>
            <a asp-controller="Home" asp-action="eCommerce"></a>
            <a asp-controller="Home" asp-action="Minigames"></a>
            <a asp-controller="Home" asp-action="Privacy"></a>
        </nav>
        <section class="mainBlock">
            <div>
                <p>Hello, the names William Crouch, but I prefer Wil.</p>
                <p>I'm graduating this year with an Associate of Arts in Computer Science.</p>
                <p>This portfolio style website is to display my proficiency in Computer Programming Languages.</p>
                <p>The languages I used were HTML and CSS of course; C# for handling most of the backend work and Javascript for the frontend work. </p>
            </div>
            <section class="topBlock">
                <div>

                </div>
            </section>
            <section class="bottomBlock">
                <div>

                </div>
            </section>
        </section>
    </div>
</div>
<svg>
    <defs>
        <filter id="liquid">
            <feGaussianBlur in="SourceGraphic"
                            stdDeviation='10' result='blur' />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 19 -9" result="liquid" />
            <feComposite in="SourceGraphic" in2="liquid" operator="atop" />
        </filter>
    </defs>
</svg>
<script src="~/js/liquidScripts.js"></script>