@{
    ViewData["Title"] = "MiniGames";
}
<a class="nav-link text-dark" asp-controller="Home" asp-action="Minigame1">Minigame v0.1</a>
<a class="nav-link text-dark" asp-controller="Home" asp-action="Minigame2">Minigame v1.0</a>