@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I will not sell any information obtained from this website.</p>
<p>This website's intended use is as an addition to my resume.</p>
<style>
    body{
        background: rgb(128, 128, 128);
    }
    footer {
        background: rgb(0,0,0);
        color: azure;
    }
</style>