* {
    box-sizing: border-box;
    display: inline-block;
}

.container {
    position: absolute;
    width: calc(100%-400px);
}

.content {
    margin-top: 50px;
}

nav {
    width: 200px;
    margin-left: 142px;
    z-index: 50;
    position: absolute;
}

.navbar a {
    width: 100%;
    height: 50px;
    position: relative;
    color: rgb(144, 114, 75);
    margin-bottom: 5px;
    font-size: 14px;
    border: none;
    outline: none;
    background: none;
}

.navbar a::before {
    content: '';
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s;
    text-align: center;
}

.navbar a:nth-child(1)::before {
    content: 'HOME';
}

.navbar a:nth-child(2)::before {
    content: 'ART';
}

.navbar a:nth-child(3)::before {
    content: 'ECOMMERCE';
}

.navbar a:nth-child(4)::before {
    content: 'MINIGAMES';
}

.navbar a:nth-child(5)::before {
    content: 'PRIVACY';
}


.navbar a:nth-child(2):hover::before {
    transform: translateX(50px);
}

.navbar a:nth-child(4):hover::before {
    transform: translateX(50px);
}

.navbar a:hover::before {
    transform: translateX(-50px);
}

.mainBlock {
    width: 100%;
    min-width: 500px;
    height: auto;
    border: 3px solid rgb(144, 114, 75);
    position: absolute;
    padding: 38px 60px;
    background: rgb(47,0,15);
    color: rgb(128, 88, 48);
    font-size: 18px;
    font-weight: bold;
    margin-left: 350px;
}

canvas {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    filter: url('#liquid');
}

body {
    background: rgba(12, 0, 4,1);
}

@media screen and (max-width: 860px) {
    .mainBlock {
        width: auto;
        height: auto;
        margin: 5px 5px 5px 5px;
        padding: 5px 5px;
        border: 1px solid rgb(144, 114, 75);
        position: relative;
        background: rgb(47,0,15);
        color: rgb(128, 88, 48);
        font-size: 12px;
        font-weight: bold;
        display: block;
    }

    .container {
        position: absolute;
        max-width: 800px;
    }
    nav {
        z-index: 50;
        position: relative;
    }
}