#miniGame {
    cursor: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,1);
}

.nav {
    overflow: hidden;
    position: absolute;
    float: left;
}
.nav #pageLinks{
    display: none;
}

.nav a {
    color: white;
    padding: 2px 2px;
    text-decoration: none;
    font-size: 40px;
    display: block;
}

.nav a.icon {
    display: block;
}

.nav a {
    font-family: Impact;
    background: none;
    color: black;
    border: none;
    border-radius: 10px;
    outline: none;
    position: relative;
    filter: url('#liquid');
}

.nav a::before{
    content: '';
    background: radial-gradient( rgba(0, 255, 255, .85)50%, rgba(0,255,0,.85));
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.nav a:hover{
    animation: wiggle .5s;

}
.nav a:hover::before{
    background: radial-gradient( rgba(66, 0, 255, .85)50%, rgba(210,110,210,.85));
    filter: url('#wave');
}