@{
    Layout = null;
}
<title>Fractal Tree</title>
<link rel="stylesheet" href="~/css/fractalStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="apple-touch-icon" sizes="180x180" href="~/images/Favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="~/images/Favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="~/images/Favicon/favicon-16x16.png">
<link rel="manifest" href="~/images/Favicon/site.webmanifest">

<div class="nav">
    <div id="navbar">
        <a asp-controller="Home" asp-action="Landing">Home</a>
        <a asp-controller="Art" asp-action="Index">Art</a>
        <a asp-controller="Contact" asp-action="Index">eCommerce</a>
        <a asp-controller="Minigames" asp-action="Index">Minigames</a>
        <a asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="displayButtons()">
        <i class="fab fa-earlybirds"></i>
    </a>
</div>

<canvas></canvas>
<script src="~/js/fractaltree.js"></script>